In [1]:
import os,sys
import pandas as pd

In [11]:
sys.path.append(r"C:\Users\bunyo\OneDrive\Desktop\git_project\4_week_project")

In [12]:
from Source.data_loader import data_load

In [20]:
path = r"C:\Users\bunyo\OneDrive\Desktop\git_dataset\house_prices_dataset.csv"
dt = data_load(path)
df = dt.load()

In [19]:
df

      square_feet  num_rooms  age  distance_to_city(km)          price
0     2248.357077          3   92             22.997972  200374.090410
1     1930.867849          2   22             13.984254  268784.847337
2     2323.844269          6   33             21.500945  315020.857676
3     2761.514928          3   63             10.343638  355111.468459
4     1882.923313          7   54             25.485200  234197.123903
...           ...        ...  ...                   ...            ...
9995  2650.551032          7    9             18.126034  431344.267823
9996  1000.827516          2   53             24.479692    6650.271134
9997  1647.341638          5   80              2.189312  233698.384301
9998  2247.882787          6   73             27.931014  280766.827379
9999  2322.194227          7   73             10.595721  342895.309114

[10000 rows x 5 columns]